#footer{
	background-color: $lightgray;
	padding:50px;
	.footer-container{
		h5{
			padding-bottom: 25px;
			font-family: $mont;
			letter-spacing: 1px;
			font-size: 12px;
			text-align: left;
			text-transform: uppercase;


		}
		ul{
			list-style: none;
			text-align: left;
			margin: 0px !important;

			li{
				a{
					font-family: $lora;
					font-size: 12px;
					line-height: 18px;
					letter-spacing: 1px;
					text-align: left !important;
					color: $darkgray;
					-webkit-transition: all 0.3s ease-in-out;
					-moz-transition: all 0.3s ease-in-out;
					-o-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;


					&:hover{		
						-webkit-transition: all 0.3s ease-in-out;
						-moz-transition: all 0.3s ease-in-out;
						-o-transition: all 0.3s ease-in-out;
						transition: all 0.3s ease-in-out;
						color: $gold;
					}

				}
			}
		}
	}
}

#post-foot{
	background-color: $darkgray;

	p{
		color: white;
		font-family: $mont;
		font-size: 10px;
		text-align: center;
		letter-spacing:1px;
		padding:15px;
	}
}

#social-list{
	display: block;
	display: flex;
	margin: 0px!important;
	margin-left: -50px !important;
}
.fa{
	display: inline-block !important;
	margin-right: 10px;
	font-size: 13px;
}