.products{
	li{
		border: 1px solid $light-gray;
		height: 385px;
		
		a{
			padding:35px;
			img{
				display: block;
				
				margin:0 auto !important;
			}
			h3{
				font-family: $lora;
				font-size: 12px;
				font-weight: 700;
				line-height: 24px;
				color: $darkgray;
				padding:35px;
			}
			.price{
				font-family: $play;
				color: $gold !important;
				font-weight: 700;
				font-size: 12px;	
			}
		}

	}
}

.custombutton{
	opacity:0;
	transition:0.5s;
	display: block;
	width:100%;
	background-color:$darkgray !important;
	height: 50px;
	border-radius: none !important;
	font-family: $mont!important;
	letter-spacing: 1px;
	font-size: 12px;
	text-transform: uppercase;
	color:white !important;
	position:relative;
	z-index:12;
}


.fondgris{
	background:rgba(0,0,0,0.04);
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	opacity:0;
	z-index:9;
	transition:0.5s;
}

.linkproduct{
	position:absolute;
	width:100%;
	height:100%;
	z-index:11;
	left:0;
	top:0;
}