/*** GLOBAL ***/

.logo-head{		-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	display: inline-block;

	&:hover{
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		transform: scale(0.9);
	}

}

nav.woocommerce-breadcrumb{
	display: block;
	font-family: $lora;
	font-size: 11px;
	color: $mediumgray;
	margin-bottom: 10px;

	a{
		font-family: $lora;
		color: $mediumgray;
		font-weight: 700;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		&:hover{
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			color: $darkgray;
		}
	}
}
.ariane{
	margin-top: 10px;
}

header.small-12.large-12.columns.text-center{
	padding: 0px !important;
}
.entry-title,.montre-titre,.bracelet-titre{
	font-family: $play;
	color: $darkgray;
	font-size: 50px;
	font-weight: 700;
	padding: 30px 0px 50px 0px;
	border-bottom: 1px solid $lightgray;
	
}

.news-title{
	font-family: $play;
	color: $darkgray;
	font-size: 50px;
	font-weight: 700;
	padding: 30px 0px 50px 0px;
}

div.full-watches{
	h1.page-title{
		
		text-align: center;
	}

}

.link-blog{
	font-family: $mont;
	font-size: 11px;
	/*max-width: 120px;*/
	color: $darkgray;
	text-transform: uppercase;
	margin-bottom: 50px !important;
	letter-spacing: 1.1px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	i{
		color: $darkgray;
		padding-right:10px;
	}
	&:hover i{
		color: $gold;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		-webkit-transform: translateX(-10%);
		-moz-transform: translateX(-10%);
		-ms-transform: translateX(-10%);
		-o-transform: translateX(-10%);
		transform: translateX(-10%);
	}
	&:hover {
		color: $gold;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;

		-webkit-transform: translateX(-10%);
		-moz-transform: translateX(-10%);
		-ms-transform: translateX(-10%);
		-o-transform: translateX(-10%);
		transform: translateX(-10%);

	}
}

/*** PAGE A PROPOS ***/


#intro-about{
	
	height: 180px; 
	width: 100%;
	margin-top: -20px;
	background-color: $darkgray;
	background-image: url("../images/_visuels/pattern.jpg");

	padding: 0px !important;
	display: flex;
	align-items: center;
	margin-bottom: 50px;



	img{
		height:auto !important;
	}
	p{
		color: white;
		font-size: 14px;
		line-height: 22px;
		letter-spacing: 1px;
		padding: 20px 0px;
		margin-bottom: 0px;
	}
}

.info{
	margin: 0px 100px;
	@include breakpoint(medium only){
		margin: 0px;
	}
	@include breakpoint(small only){
		margin: 0px;
	}
	img{
		margin-bottom: 50px;

	}
	article{
		vertical-align: middle;
		h6{
			height: 90px;
			padding-left:15px;
			border-left: 2px solid $gold;
			font-family: $play;
			font-size: 30px;
			font-weight: 700;
			margin:50px 0px;
			line-height: 40px;
			@include breakpoint(medium only){
				margin-top: 0px;
				margin-bottom: 20px;
				height: auto;
			}
		}
		p{

		}
	}
}


/*** PAGE CONTACT ***/
.intro-contact{
	font-weight: 700 !important;
	padding:50px;
}

#blackandwhite{
	background-image: url("../images/_visuels/contact-bg.jpg");
	padding: 0px !important;
	margin-bottom: 50px;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;



	.black{
		background-color: $darkgray;
		opacity: 0.95;
		padding-top: 50px;
		padding-bottom: 26px;

		form{
			p{
				font-family: $mont;
				color: white;
				font-size: 12px;

				
			}

			input{
				border: 0px;
				height: 35px;
			}

			option{
				font-size: 12px;
				font-family: $mont;
				color: $darkgray;
			}

			textarea{
				height: 80px;
				border: 0px;
			}

			select{
				border: 0px;
			}
			.wpcf7-submit{
				height: 50px;
				background-color: $gold;
				text-transform: uppercase;
				line-height: 30px;
				font-size: 12px;
				font-family: $mont;
				color: $darkgray;
				width:30%;
				border: 0px;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;

				min-width: 170px;
				margin-top: 25px;

				&:hover{
					-webkit-transition: all 0.5s ease-in-out;
					-moz-transition: all 0.5s ease-in-out;
					-o-transition: all 0.5s ease-in-out;
					transition: all 0.5s ease-in-out;
					background-color: $darkgray;
					border: 2px solid $gold;
					color: $white;
				}

				@include breakpoint(small only){
					width: 100%;
				}

			}
			input{

			}
			::-webkit-input-placeholder { color: $mediumgray; font-family: $lora; padding-left: 5px; font-style: italic; letter-spacing: 1px; font-size: 12px; }
			::-moz-placeholder { color: $mediumgray; font-family: $lora; padding-left: 5px; font-style: italic; letter-spacing: 1px; font-size: 12px; } /* firefox 19+ */
			:-ms-input-placeholder { color:#f00; font-size: 12px; } /* ie */
			input:-moz-placeholder { color:#f00; font-size: 12px; }
		}
	}
	.white{
		background-color: white;
		height: 100% !important;
		opacity: 0.95;
		padding: 50px 0px;

		h3{
			font-family: $mont;
			color: $darkgray;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
		}

		p{
			margin-top: 22px;
		}
		a{
			color: $darkgray !important;
			font-weight: bold;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;

			&:hover{
				color: $gold !important;
				-webkit-transition: all 0.5s ease-in-out;
				-moz-transition: all 0.5s ease-in-out;
				-o-transition: all 0.5s ease-in-out;
				transition: all 0.5s ease-in-out;
			}

		}
	}

}
hr{
	margin: 50px 0px;
}

.content{
	@include breakpoint(small only){
		margin: 30px;
	}
}

/*** NAVIGATION ***/

#top-head{
	line-height: 100px;
	padding:0px 0px;
	#networks-list{
		list-style: none;
		margin-top:40px;
		text-align: left;
		margin-left: 0px;
		li{
			display: inline-block;
			a{
				color: $darkgray;
				-webkit-transition: all 0.3s ease-in-out;
				-moz-transition: all 0.3s ease-in-out;
				-o-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;

				&:hover{
					-webkit-transition: all 0.3s ease-in-out;
					-moz-transition: all 0.3s ease-in-out;
					-o-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
					color: $gold;
				}

				i{


				}
			}
		}
		
	}
	#acccount{
		margin-top:40px;
		float: right;
		li{
			display: inline-block;
			a{
				font-family: $lora;
				color: $darkgray;
				font-size: 12px;
				-webkit-transition: all 0.4s ease-in-out;
				-moz-transition: all 0.4s ease-in-out;
				-o-transition: all 0.4s ease-in-out;
				transition: all 0.4s ease-in-out;

				&:hover{
					font-weight: 700;
					-webkit-transition: all 0.4s ease-in-out;
					-moz-transition: all 0.4 ease-in-out;
					-o-transition: all 0.4s ease-in-out;
					transition: all 0.4s ease-in-out;
				}
			}
		}
	}
	@include breakpoint(small only){
		margin-left:40px;
	}
}

/*.fixed{
	position: fixed;
	width: 100%;
	z-index: 40000;
	margin-bottom: 50px;
	}*/

	.main-navigation{
		border-bottom: 0.8px solid $lightgray;

	}
	div.input-group-button{
		background-color: white !important;

	}

	.site-recherche{
		display:flex;

		.input-group-field{
			height: 50px;
			margin-right: 0px;
			border: 0px;
			border-left: 0.8px solid $lightgray;
			box-shadow:none !important;
			@include breakpoint(small only){
				width:140px;
			}

		}

		::-webkit-input-placeholder { color: $mediumgray; font-family: $lora; padding-left: 5px; font-style: italic; letter-spacing: 1px; font-size: 12px; }
		::-moz-placeholder { color: $mediumgray; font-family: $lora; padding-left: 5px; font-style: italic; letter-spacing: 1px; font-size: 12px; } /* firefox 19+ */
		:-ms-input-placeholder { color:#f00; font-size: 12px; } /* ie */
		input:-moz-placeholder { color:#f00; font-size: 12px; }


		#searchsubmit{
			background: url("../images/_visuels/loupe.png") white no-repeat;
			background-color:transparent;
			outline:0;
			border:0;
			text-indent:-102000px;
			display:block;
			width:16px;
			height:16px;
			-webkit-transition: all 0.2s ease-in-out;
			-moz-transition: all 0.2s ease-in-out;
			-o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;

			&:hover{
				background: url("../images/_visuels/loupe-hover.png") white no-repeat;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;

			}


		}
	}

	form#searchform{
		height: 50px;
	}

	.rechercheavance{
		height: 50px;
		padding: 0px 14px;
		line-height: 50px;
		background-color: $darkgray;
		color: white;
		font-family: $lora;
		font-size: 12px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		cursor: pointer;

		i{
			font-size: 12px;
			margin-left:15px;
		}

		&:hover{

			background-color: $gold !important;
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
		}
	}

	.bag{
		padding-left: 10px;
		border-left: 1px solid $mediumgray;
		margin-left: 8px;
		
		@include breakpoint(small only){
			margin-left: 0px;
			padding-left: 0px;
			border-left: 0px;
		}

	}

	.shopping-bag{
		height: 17px !important;
		width: auto;
		margin-left: 7px;
	}

	#site-navigation{
		background-color: white;

		#menu-navigation-1{
			background-color: white;

			li{
				border: 0px;
				a{
					font-family: $lora;
					font-size: 12px;
					color: $darkgray;
					text-transform: uppercase;
					padding: 16px;
					height: 50px;
					line-height: 20px;
					vertical-align: middle;
					-webkit-transition: all 0.2s ease-in-out;
					-moz-transition: all 0.2s ease-in-out;
					-o-transition: all 0.2s ease-in-out;
					transition: all 0.2s ease-in-out;

					&:hover{
						-webkit-transition: all 0.2s ease-in-out;
						-moz-transition: all 0.2s ease-in-out;
						-o-transition: all 0.2s ease-in-out;
						transition: all 0.2s ease-in-out;
						color: $darkgray;
						font-weight: 700;
						background-color: white;
						border-bottom: 4px solid $darkgray;
					}
				}
			}

			li.searchbarr{
				background-color: white;

			}
		}
		.top-bar, .top-bar ul{
			
		}
	}
	.menu .active>a{
		color: $darkgray !important;
		font-weight: 700 !important;
		background-color: white !important;
		border-bottom: 4px solid $darkgray !important;
	}


	.searchform{
		background-color: white;
	}
