/* COLORS*/

$blackgray: #292a2f;
$mediumgray: #c3c3c2;
$lightgray: #f3f2f1;
$gold: #f0cb97;
$lightgold: #f4ece2;
$goldgray: #f8f5f1; /* AVIS CLIENT BG */
$fontgold: #d5af6d;
$green: #d5af6d;


/* FONTS*/

$lora: font-family: 'Lora', serif;
$play: font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;